<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gduf.commuterSystem.mapper.SignInfoMapper">
    <select id="getSignInfoListOfNowByUserSerial" resultType="cn.gduf.commuterSystem.entities.SignInfo">
        select *
        from sign_info
        where DATE (sign_in_time) = CURDATE()
          and user_serial = #{userSerial}
        ORDER BY sign_in_time DESC;
    </select>
</mapper>