<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gduf.commuterSystem.mapper.UserInfoMapper">

    <select id="getUserInfoByUserSerial" resultType="cn.gduf.commuterSystem.entities.UserInfo">
        select id,
               user_serial,
               department_serial,
               user_position,
               is_deleted
        from user_info
        where user_serial = #{userSerial}
          and is_deleted = 0;
    </select>
    <select id="selectAll" resultType="cn.gduf.commuterSystem.entities.UserInfo">
        select user_info.id,
               user_info.user_serial,
               personal_info.user_name,
               user_info.department_serial,
               user_info.user_position,
               user_info.is_deleted
        from user_info,
             personal_info
        where user_info.user_serial = personal_info.user_serial
          and is_deleted = 0
        <if test="userName != null and userName != ''">
            and personal_info.user_name like #{userName}
        </if>
        ;
    </select>
</mapper>